*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

.main{
  background-color: #13131F;
  color: #A9AFC3;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent{
  background-color: #161623;
  width: 60%;
  height: 70%;
  border-radius: 20px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: inset 8px 8px 10px hsla(0,0%,100%,.2),inset -10px -10px 15px rgba(0,0,0,.9);
}
.parent h3{
  font-size: 2rem;
}

.children{
  width: 80%;
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: 0.4fr 1fr 0.4fr;
  gap: 5rem;
  margin-top: 6rem;
  margin-bottom: 5rem;
  font-size: 3rem;
}

.children h1{
  background-color: #13131F;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.children button{
  background-color: #13131F;
  border-radius: 20px;
  font-size: 3rem;
  color: #A9AFC3;
  padding: 20px;
  border: none;
}

.parent > button {
  background-color: #A9AFC3;
  width: 25%;
  font-size: 1.2rem;
  height: 10%;
  border-radius: 20px;
  border: none;
}